/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
	padding: 0;
	border: 1px solid magenta;
	padding: 1px;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/******************************************************************************/
/******************************END OF CSS RESET********************************/
/******************************************************************************/

html {
	width: 100dvw;
	height: 100dvh;
}

body {
	width: 100%;
	height: 100%;
}

.main {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.sidebar {
	max-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo-icon {
	width: 150px;
}

.sidebar-contextual {
	height: 100%;
}

.sidebar-footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.github-icon {
	width: 50px;
}

.screen {
	max-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.screen-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 12%;
}

.topbar-contextual {
	height: 100%;
	width: 80%;
}

.score {
	height: 100%;
	width: 20%;
}

.score-value {
	height: 100%;	
}

.screen-center {
	height: 68%;
	display: flex;
}

.your-sector,
.enemy-sector {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.sector-grid {
	height: 100%;
}

.screen-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 20%;
}

.your-stats,
.enemy-stats {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
}

